<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title></title>
    </head>
    <body> 
        <div id="dvContent">
            <h3>Instructions:</h3>
            <ul>
                <li>
                    <b>In this section, you can see all the courses you registered at AOU and their grades.</b>
                </li>
                <li>Select a semester then click on 'Go' to see the final grades for the courses you
            registered in that semester.</li>
                <li>If a certain course shows an 'N/A' grade then this means that you cannot see the
            grade. Please read the Notes next to it to understand the reason.</li>
            </ul>
            <hr>
            <div id="upMain">
                        <table>
                            <tbody><tr>
                                <td>
                                    <span id="Label12" style="font-weight:bold;">View Final Grades for</span>
        <option>First 2023/2024</option>        
        </select>

        <tbody><tr>
            <td>
                                                <table class="NormGrid" cellspacing="0" rules="all" border="1" id="dgStudentGrades" style="width:950px;border-collapse:collapse;">
                <tbody><tr>
                    <td>Course Code</td><td>srd_id</td><td>Grade</td>
                </tr><tr>
                    <td>
                                                                <span id="CC"></span>
                                                            </td><td>
                                                                <span id="std_id">4</span>
                                                            </td><td>
                                                                <span id="grade"></span>
                                                            </td>
            </tbody></table>
                                            </td>
        </tr>

        </tbody></table>
        
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/")" data-ur1313m3t="true"> Back to home page</a></td>
                            </tr>
                        </tbody></table>
                    </div>
       </body>
</html>
